h1.mb-3 Установка виджета на сайт #{project.name}

= render 'setup', project: project

p Установили? 
= link_to 'Проверить', project_widget_path(project), class: 'btn btn-success btn-lg',  data: { next_button: true, turbo_method: :post }
