h1.display-5.my-5.text-center Частые вопросы
h2.my-3.fw-normal Чем это отличается от того что я размещу на сайте ссылку на свой аккаунт в Telegram?
p.lead В таком случае пользователи будут видеть Ваш аккаунт и писать Вам напрямую даже когда Вы этого не ждёте. Вы не сможете передать поддержку кому-то другому или запустить рассылку. Пользователь может в любой момент удалить переписку.

h2.my-3.fw-normal Чем это отличается от веб-чата размещаемого на сайте, например Jivosite?
p.lead Веб-чаты просят пользователя оставлять контакт (емайл/телефон) что многих останавливает. Пользователь может переписываться в чате не оставляя эти контакты, но в таком случае Вам постоянно надо быть на связи в специальном приложении. Когда пользователь уйдет из сайта у вас не будет способа с ним связаться. 
p.lead Веб-чаты могут портить или не вписываться в дизайн сайта. Для поддержки клиентов вам не нужно ставить на компьютер или на телефон дополнительный софт – достаточно привычного Telegram. Вы получаете контакт с клиентом в Telegram даже если клиент еще ничего не написал, а только кликнул на кнопку посмотреть. 
p.lead В отличии от веб-чатов наше решение не зависает (код минимальный, там нечему виснуть), не пугает пользователя своим интерфейсом и переводит общение в привычные для всех приложения.
