nav.navbar.navbar-light
  = content_tag :div, class: "#{defined?(container_class) ? container_class : 'container'} px-3" do
    span.navbar-brand.mb-0.h1
      = link_to root_url, class: 'text-dark text-decoration-none' do
        = render 'logo'
    - if logged_in?
      .navbar-text
        | 🙋 Привет, #{current_user}!
        span.ms-4= link_to 'Попрощаться', sessions_path, data: { turbo_method: :delete }
    - else
      = render 'telegram_login'
