ul.navbar-nav.d-flex
  li.nav-item
  - if logged_in?
    /li.nav-item.dropdown.mr-2.d-flex.align-items-center
      /- if current_user.notifications.unread.any?
        /= link_to '#', class: 'my-lg-0 py-lg-0 nav-link', data: { toggle: 'dropdown' }, id: :notificationsDropdown, role: :button, 'aria-haspopup' => true, 'aria-expanded' => false do
          /span.nav-icon= icon 'md-notifications'
        /.dropdown-menu.dropdown-menu-right[aria-labelledby="notificationsDropdown"]
          /- current_user.notifications.ordered.unread.each do |n|
            /= link_to n.message, '#', class: 'dropdown-item'
      /- else
        /span.nav-icon data-toggle=:tooltip title=t('.no_notifications')
          /= icon 'md-notifications-outline'
    li.nav-item.dropdown
      = link_to '#', class: 'my-lg-0 py-lg-0 nav-link dropdown-toggle', 'data-bs-toggle': :dropdown, role: :button, 'aria-expanded' => false do
        -# = gravatar_tag current_user, size: 32
        span.ml-2
          span= current_user.public_name
      ul.dropdown-menu.dropdown-menu-right
        /li
          /= link_to t('.profile'), '#profile', class: 'dropdown-item', data: { toggle: :remoteModal, target: '#remoteModal', url: profile_url(back_url: request.url) }
        /- if !Rails.env.production? || current_super_admin.present?
          /.dropdown-divider
          /- if Rails.env.development? || Rails.env.staging?
            /= link_to 'Letter Opener', letter_opener_web_url, class: 'dropdown-item'
            /= link_to 'Mail templates preview', '/rails/mailers', class: 'dropdown-item' if Rails.env.development?
          /- if current_super_admin.present?
            /= link_to 'Super login as other user', new_super_user_url, class: 'dropdown-item'
            /= link_to 'Sidekiq', sidekiq_web_url, class: 'dropdown-item'
        li
          hr.dropdown-divider
        li
          = link_to t('.logout'), sessions_url, data: { turbo_method: :delete }, class: 'dropdown-item'
  - else
    -# Убрал потому что в шапке уже висит вход для продавцов
    -# = render 'telegram_login'
    /li.nav-item.dropdown.mr-2.d-flex.align-items-center
      /= link_to 'Войти', new_session_path, class: 'my-lg-0 py-lg-0 nav-link', role: :button, 'aria-haspopup' => true, 'aria-expanded' => false


