- percent = (100.0/3)*step
div.progress.mb-4 style='height: 2rem'
  div.progress-bar.bg-success.py-2 role="progressbar" style="width: #{percent}%" aria-valuenow=percent aria-valuemin="0" aria-valuemax="100" Шаг #{step} из #{steps}-х
