aside.d-flex.flex-column.flex-shrink-0.p-3.bg-light style='width: 240px'
  /a.d-flex.align-items-center.mb-3.mb-md-0.me-md-auto.link-dark.text-decoration-none href = "/"
    /svg.bi.me-2 height = "32" width = "40"
      /use xlink:href= "#bootstrap"
    /span.fs-4 Sidebar
  /hr/
  ul.nav.nav-pills.flex-column.mb-auto
    /li.nav-item
      /a.nav-link.active aria-current="page" href = "#"
        /svg.bi.me-2 height = "16" width = "16"
          /use xlink:href="#home"
        /| Home
    li.nav-item= active_link_to 'Посетители', project_visitors_path(project), class: 'nav-link link-dark'
    li.nav-item= active_link_to 'Посещения', project_visits_path(project), class: 'nav-link link-dark'
    li.nav-item= active_link_to 'Настройки', project_path(project), class: 'nav-link link-dark', active: :exact
    li.nav-item= active_link_to 'Тариф', project_tariff_path(project), class: 'nav-link link-dark', active: :exact
    - unless project.bot_installed?
      li.nav-item= active_link_to 'Настройка бота', project_bot_path(project), class: 'nav-link link-dark'
    li
      hr.dropdown-divider

    - if current_user.projects.many?
      li.nav-item= active_link_to 'Другие проекты &rarr;'.html_safe, projects_path(back_url: request.url), class: 'nav-link link-dark', active: :exact
  /hr/
  /.dropdown
    /a#dropdownUser2.d-flex.align-items-center.link-dark.text-decoration-none.dropdown-toggle aria-expanded="false" data-bs-toggle="dropdown" href="#"
      /img.rounded-circle.me-2 alt="" height="32" src="https://github.com/mdo.png" width= "32"
      /strong mdo
    /ul.dropdown-menu.text-small.shadow aria-labelledby="dropdownUser2"
      /li
        /a.dropdown-item href="#" New project...
      /li
        /a.dropdown-item href="#" Settings
      /li
        /a.dropdown-item href="#" Profile
      /li
        /hr.dropdown-divider/
      /li
        /a.dropdown-item href="#" Sign out
